* {
margin: 0;
padding: 0;
box-sizing: border-box;
color: aliceblue;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(rgb(15, 14, 27));
}
